.transactionHistory {
    margin: 100px auto;
    width: 800px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
tr {
    background-color: #ffffff;
}

tr:nth-child(2n) {
    background-color: #ecf1f4;
}

td {
    width: calc(100% / 3);
    height: 42px;
    text-transform: capitalize;
    text-align: center;
    color: #737678;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

th {
    width: calc(100% / 3);
    height: 42px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #54bdd6;
    border: 1px solid #7eeaef;
}